<!-- Config file for the game -->

<config>
  <app>
    <title>Ninja Frog Against Gravity</title>
    <organization>Nuto Studios + UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <audio>
    <volume value="64"></volume>
  </audio>

  <window>
    <resolution width="1024" height="768" scale="2.5"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <map>
    <folder>maps/</folder>
  </map>
  
  <player>
    <position_scene_1 x="10" y="10.0"/>
    <position_scene_2 x="10" y="10.0"/>
    <desired_position x="0.0" y="0.0"/>
    <size w="14" h="24"/>
    <velocity x="0" y="0"/>
    <gravity value="0.01"/>
    <feet h="1"/>
    <right_side w="1"/>
    <left_side w="1"/>
    <s_down value="false"/>
    <grounded value="false"/>
    <has_doublejumped value="false"/>
    <mirror value="false"/>
    <alive value ="true"/>
    <folder>textures/</folder>
    <texture tex ="Ninja_Frog.png"/>
    <animation_offset x="5" y="3"/>
    <idle></idle>
    <jump></jump>
    <moving></moving>
  </player>

  <scene current_scene ="1"/>

</config>