<!-- Config file for the game -->

<config>
  <app>
    <title>Ninja Frog Against Gravity</title>
    <organization>Nuto Studios + UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <audio>
    <volume value="64"></volume>
  </audio>

  <window>
    <resolution width="1024" height="768" scale="3.5"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <player>
    <player_skin>    
    </player_skin>
  </player>

  <scene>
    <current_scene scene="1"/>
  </scene>
</config>